.button {
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.9em 2em;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: $mainColor;
  color: white !important;
  box-shadow: 0 0 5px rgba(#000, 0.2);
  transition: box-shadow 300ms;

  @mixin at-large {
    font-size: 0.9rem;
  }

  &:hover {
    box-shadow: 0 0 15px 1px rgba(#000, 0.2);
  }

  &--full-width {
    width: 100%;
    text-align: center;
  }
}
