@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}body {
  font-family: 'Poppins', sans-serif;
  color: #6d6a6a;
  overflow-x: hidden;
}.flexbox {
  display: flex;
}.flexbox--align-base {
    align-items: baseline;
  }.flexbox__margin-l-auto {
    margin-left: auto;
  }.grid {
  display: grid;
  justify-content: center;
}.grid--2-by-auto {
    grid-template-columns: repeat(2, 300px); 
    grid-template-rows: repeat(2, 200px); 
    grid-gap: 20px;
  }.grid--4-by-1 {
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: 140px;
    grid-column-gap: 20px;
  }.grid--cell-content-xy-centered {
    justify-items: center;
    align-items: center;
  }.animated-hero {
  background-image: url('../../assets/images/stars.jpg');
  background-position: center center;
  background-size: cover;
  -webkit-filter: brightness(25%);
          filter: brightness(25%);
}.content-wrapper {
  width: 150vw;
  height: 100vh;
  position: relative;
  left: -50vw;
}.content-wrapper__fixed-position {
    position: fixed;
  }.content-wrapper__main-content {
    margin-left: 100vw;
    width: calc(50vw - 17px);
  /*   padding-top: 2em; */
  }.avatar {
  position: relative;
}.avatar__image {
    width: 160px;
    -webkit-clip-path: circle();
            clip-path: circle();
    display: block;
    margin: 0 auto 2em;
  }.button {
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
  background-color: transparent;
  color: white;
  padding: 1em 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
}.button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 200%;
    height: 100%;
    background-color: #5ebae4;
    -webkit-clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
            clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    transition: left 200ms;
  }.button:hover {
    color: #5ebae4;
    box-shadow: none;
  }.button:hover::after {
      left: 200%;
    }.button--centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }.wrapper {
  width: 90%;
  margin: auto;
  padding-right: 12px;
  padding-left: 12px;
}.page-section {
  padding-top: 3.1em;
  padding-bottom: 2.5em;
}.page-section--equal {
    padding-top: 2.5em;
  }.half-screen {
  height: 100vh;
  width: 50vw;
}.headline {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: #3c3838;
  font-weight: 400;
  margin-bottom: 2em;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}.headline::before{
    content: attr(data-inner-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700%;
    font-weight: 800;
    font-size: 5rem;
    text-align: center;
    color: rgba(60,56,56, .07);
  }.headline::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -29px;
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #3c3838;
  }.headline--white {
    color: white;
  }.headline--thin {
    font-weight: 200;
  }.headline--bold {
    font-weight: 600;
  }.headline--tiny {
    font-size: 1rem;
  }.headline--small {
    font-size: 1.7rem;
  }.headline--italic {
    font-style: italic;
  }.headline--margin-b-tiny {
    margin-bottom: .4em;
  }.headline--margin-b-small {
    margin-bottom: 1em;
  }.headline--simple {
    text-transform: inherit;
  }.headline--align-left {
    text-align: left;
  }.headline--last-align-center {
    -moz-text-align-last: center;
         text-align-last: center;
  }.headline--no-b-line::after {
      content: none;
    }.headline--underline {
    text-decoration: underline;
  }.paragraph {
  font-size: .9rem;
  text-align: justify;
  -moz-text-align-last: center;
       text-align-last: center;
}.paragraph--last-align-left {
    -moz-text-align-last: left;
         text-align-last: left;
  }.paragraph--margin-b {
    margin-bottom: 2.5em;
  }.paragraph--white {
    color: white;
  }.paragraph--centered {
    text-align: center;
  }.paragraph--align-left {
    text-align: left;
  }.paragraph--small {
    font-size: 1.2rem;
  }.paragraph--uppercase {
    text-transform: uppercase;
  }.paragraph--italic {
    font-style: italic;
  }.paragraph--blue {
    color: #5ebae4;
  }.paragraph--thin {
    font-weight: 100;
  }.icon {
  position: relative;
  color: #5ebae4;
}.icon--big {
    font-size: 1.5rem;
  }.icon--move-down {
    top: 10px;
  }.icon--right-padding {
    padding-right: .6em;
  }.icon--white {
    color: white;
  }.icon--huge {
    font-size: 2.5rem;
  }.progress-bar {
  margin-bottom: 1em;
}.progress-bar:last-child {
    margin-bottom: 0;
  }.progress-bar__bar {
    width: 100%;
    height: 5px;
    background-color: rgb(235, 235, 235);
    position: relative;
    border-radius: 8px;
    overflow-x: hidden;
  }.progress-bar__bar::after {
      content: '';
      position: relative;
/*       left: -100%; */
      display: block;
      height: 100%;
      background-color: #5ebae4;
      border-radius: inherit;
    }.progress-bar__bar--80::after {
      width: 80%;
    }.progress-bar__bar--90::after {
      width: 90%;
    }.progress-bar__bar--75::after {
      width: 75%;
    }.progress-bar__bar--98::after {
      width: 98%;
    }.progress-bar__bar--90::after {
      width: 90%;
    }.progress-bar__details {
    margin-bottom: .1em
  }.progress-bar__title {
    text-transform: uppercase;
    color: #3c3838;
  }.progress-bar__percentage {
    font-weight: bolder;
    color: #3c3838;
  }.background-image-section {
  height: 300px;
  position: relative;
}.background-image-section--margin-bottom {
    margin-bottom: 1.6em;
  }.background-image-section--margin-top {
    margin-top: 1.6em;
  }.background-image-section::after {
    content: '';
    position: absolute;
    top: 0; 
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 37, 56, 0.623);
  }.background-image-section__image {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center center;
       object-position: center center;
  }.background-image-section__text {
    z-index: 1;
    width: 90%;
  }.xy-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}.grey-background {
  background-color: rgb(249, 249, 249);

}.flipping-card{
  position: relative;
  cursor: pointer;
  perspective: 1500px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 100%;
}.flipping-card__face { 
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: transform 500ms;
    box-shadow:0 0 5px rgba(0,0,0, .2);
  }.flipping-card__front--color-1 {
      background-color: #5E77E4;
    }.flipping-card__front--color-2{
      background-color: #885EE4;
    }.flipping-card__front--color-3 {
      background-color: #CB5EE4;
    }.flipping-card__front--color-5 {
      background-color: #E45E77;
    }.flipping-card__back {
    position: absolute;
    top: 0;
    transform: rotateY(-180deg);

  }.flipping-card__back--gradient-1 {
      background-image: linear-gradient(to bottom right, #5ebae4, #5E77E4);
    }.flipping-card__back--gradient-2{
      background-image: linear-gradient(to bottom right, #5ebae4, #885EE4);
    }.flipping-card__back--gradient-3 {
      background-image: linear-gradient(to bottom right, #5ebae4, #CB5EE4);
    }.flipping-card__back--gradient-5 {
      background-image: linear-gradient(to bottom right, #5ebae4, #E45E77);
    }.flipping-card:hover .flipping-card__front {
    transform: rotateY(180deg);
  }.flipping-card:hover .flipping-card__back {
    transform: rotateY(0);
  }.news__box {
    width: 100%;
    max-height: 400px;
  }.news__box:not(:last-child) {
      margin-bottom: 1em;
    }.news__image {
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }.news__details {
    padding: 10px;
  }