@define-mixin xy-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 720px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin atHuge {
  @media (min-width: 1340px) {
    @mixin-content;
  }
}

@define-mixin overlay {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: $imageOverlay;
}

@define-mixin centralize-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
