$mainColor: #5ebae4;
$accent-1: #5e77e4;
$accent-2: #885ee4;
$accent-3: #cb5ee4;
$accent-4: #e45eba;
$accent-5: #e45e77;
$mainGrey: #757575;
$mainBlack: #3c3838;
$darkBlack: #0d101d;
$darkGrey: #7f7f7f;
$bgGrey: #f9f9f9;
$invalidInputColor: #d80053;
$gradient-1: linear-gradient(to bottom right, $mainColor, $accent-1);
$gradient-2: linear-gradient(to bottom right, $mainColor, $accent-2);
$gradient-3: linear-gradient(to bottom right, $mainColor, $accent-3);
$gradient-4: linear-gradient(to bottom right, $mainColor, $accent-4);
$gradient-5: linear-gradient(to bottom right, $mainColor, $accent-5);
$imageOverlay: #222538b0;
$shadowColor: #0000001a;
