* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $mainGrey;
  -ms-overflow-style: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
}
html {
  scroll-behavior: smooth;
}
body, html {
  width: 100vw;
  overflow-x: hidden;
}