.flexbox {
  display: flex;

  > *:not(:last-child) {
    margin-right: 1em;
  }

  &--at-large {
    display: block;
    @mixin atLarge {
      display: flex;
    }
  }

  &--align-base {
    align-items: baseline;
  }

  &--y-centered {
    align-items: center;
  }

  &--x-centered {
    justify-content: center;
  }

  &--at-medium {
    flex-direction: column;
    @mixin atMedium {
      flex-direction: row;
    }
  }

  &__margin-l-auto {
    margin-left: auto;
  }

  &--margin-b {
    margin-bottom: 1em;
  }
}
