.flexbox {
  display: flex;

  &--at-medium {
    @media (max-width: 601px) {
      flex-direction: column;
    }
  }

  &--at-large {
    display: block;

    @mixin at-large {
      display: flex;
    }
  }

  &--space-between {
    justify-content: space-between;
  }

  &--align-base {
    align-items: baseline;
  }

  &--x-centered {
    justify-content: center;
  }
}
