.flexbox {
  display: flex;

  &--align-base {
    align-items: baseline;
  }
  &__margin-l-auto {
    margin-left: auto;
  }
  &--y-centered {
    align-items: center;
  }
  &--x-centered {
    justify-content: center;
  }
}