.footer {
  background-color: $darkBlack;
  color: $darkGrey;

  &__upper-content {
    padding: .7em 10px;
  }
  &__copyright{
    padding-top: .4em;
    padding-bottom: .4em;
    border-top: .5px solid rgb(214, 214, 214);
  }
  &__copyright-paragraph {
    font-size: .8rem;
    font-weight: 400;
    text-align: center;
  }
  &__logo {
    width: 100px;
    height: 100px;
    margin-right: auto;
    @mixin atMedium {
      width: 120px;
      height: 120px;
      margin-right: 2em;
    }
  }
  &__margin-r {
    margin-right: 1em;
  }
}