.grid {
  display: grid;
  justify-content: center;

  &--2-by-auto {
    grid-template-columns: repeat(2, 300px); 
    grid-template-rows: repeat(2, auto); 
    grid-gap: 20px;
  }

  &--4-by-1 {
    grid-template-columns: repeat(4, 140px);
    grid-template-rows: 140px;
    grid-column-gap: 20px;
  }

  &--cell-content-xy-centered {
    justify-items: center;
    align-items: center;
  }
  &__item {
/*     color: white;
    background-color: $mainColor; */
    padding: 1em;
    box-shadow: 2px 2px 5px $shadowColor;
  }
}