.grid {
  display: grid;
  justify-content: center;

  &--2-by-auto-atLarge {
    grid-template-columns: 100%; 
    grid-template-rows: repeat(4, auto); 
    grid-row-gap: 10px;

    @mixin atSmall {
      grid-template-columns: repeat(2, 240px); 
      grid-template-rows: repeat(2, auto); 
      grid-gap: 15px;
    }
    @mixin atMedium {
      grid-template-columns: repeat(2, 300px); 
    }
    @mixin atLarge  {
      grid-template-columns: repeat(2, 230px); 
    }
    @mixin atHuge {
      grid-template-columns: repeat(2, 300px); 
    }
  }

  &--4-by-1-atLarge {
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(2, 140px);
    grid-gap: 10px;

    @mixin atSmall {
      grid-template-columns: repeat(4, 110px);
      grid-template-rows: 110px;
    }
  }

  &--cell-content-xy-centered {
    justify-items: center;
    align-items: center;
  }
}