.content-wrapper {
  position: relative;
  left: 0;
  height: 100vh;
  transition: left 900ms cubic-bezier(0.22, 0.67, 0.14, 1.01);

  @mixin at-large {
    width: 150vw;
  }

  &__hero {
    width: 100vw;

    @mixin at-large {
      position: fixed;
    }
  }

  &__main-content {
    position: relative;

    @mixin at-large {
      margin-left: 100vw;
      width: 50vw;
    }
  }
}
