.flipping-card {
  position: relative;
  perspective: 1500px;
  backface-visibility: hidden;
  width: 110px;
  height: 110px;
  color: white;

  &:not(:last-child) {
    margin-right: 1em;
  }

  &:last-child {
    @mixin at-small {
      margin-right: 1em;
    }
  }

  &--mb-until-small {
    margin-bottom: 1em;

    @mixin at-small {
      margin-bottom: 0;
    }
  }

  &__face {
    @mixin centralize-content;

    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 320ms;
    box-shadow: 0 0 5px rgba(#000, 0.4);
  }

  &__back {
    position: absolute;
    top: 0;
    transform: rotateY(-180deg);
    user-select: none;
  }

  &__details {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
  }

  &--1 {
    .flipping-card__front {
      background-color: $accent-1;
    }

    .flipping-card__back {
      background-image: $gradient-1;
    }
  }
  &--2 {
    .flipping-card__front {
      background-color: $accent-2;
    }

    .flipping-card__back {
      background-image: $gradient-2;
    }
  }
  &--3 {
    .flipping-card__front {
      background-color: $accent-3;
    }

    .flipping-card__back {
      background-image: $gradient-3;
    }
  }
  &--4 {
    .flipping-card__front {
      background-color: $accent-4;
    }

    .flipping-card__back {
      background-image: $gradient-4;
    }
  }
}
