.paragraph {
  text-align: justify;
  text-align-last: center;
  font-size: 0.8rem;
  margin-bottom: 2.5em;

  &:first-letter {
    text-transform: capitalize;
  }

  @mixin at-large {
    font-size: 1.05em;
  }
}
