.service {
  box-shadow: 0 0 4px 1px rgba(#000, 0.22);
  padding: 1em;
  background: $gradient-4;
  flex-basis: 50%;
  color: white;
  margin-bottom: 0.6rem;

  &:not(:last-child) {
    @mixin at-small {
      margin-right: 0.6rem;
    }
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 0.4em;
    font-weight: 500;
    font-size: 0.8rem;
    text-decoration: underline;

    @mixin at-large {
      font-size: 1rem;
    }
  }

  &__description {
    text-align: justify;
    font-size: 0.8rem;

    @mixin at-large {
      font-size: 0.9rem;
    }
  }
}
