.animated-hero {
  display: none;
  
  @mixin atLarge {
    display: block;
    background-image: url('../../assets/images/stars.jpg');
    background-position: center center;
    background-size: cover;
    filter: brightness(25%);
  }
}