.avatar {
  position: relative;
  text-align: center;
  color: $mainBlack;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;

  @mixin half-screen;

  &__content-wrapper {
    @mixin xy-centered;
  }

  &__image {
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.2em;
    object-fit: cover;
    width: 120px;
    height: 120px;
    box-shadow: 0 1px 5px rgba(#000, 0.1);

    @mixin atLarge {
      width: 140px;
      height: 140px;
      margin-bottom: 1.1em;
    }
  }

  &__my-name {
    font-weight: 400;
    margin-bottom: 0.3em;
    font-size: 1.5rem;

    @mixin atLarge {
      font-size: 2rem;
      margin-bottom: 0.4em;
    }
  }

  &__title {
    font-size: 1.2rem;
    margin-bottom: 0.3em;
    font-weight: 200;

    @mixin atLarge {
      font-size: 1.6rem;
      margin-bottom: 0.4em;
    }
  }
}
