.avatar {
  position: relative;
  order: 1;

  &__image {
    clip-path: circle();
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1.2em;
    width: 120px;

    @mixin atLarge {
      width: 140px;
      margin-bottom: 1.1em;
    }
  }
}
