.back-to-top-button {
  @mixin centralize-content;

  position: fixed;
  bottom: -200px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 5px 1px rgba(#000, 0.2);
  z-index: 1;
  transition: all 100ms;
  cursor: pointer;

  @mixin atLarge {
    display: none;
  }

  i {
    color: $accent-1;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px 2px rgba(#000, 0.2);
  }

  &--visible {
    bottom: 20px;
  }
}
