.button-container {
  &__button {
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
    padding: 1em 2em;
    font-size: .8rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: transparent;
    border: 2px solid #191912;
    border-radius: 2px;
    color: #191912;
    transition: all 200ms;

    @mixin atLarge {
      font-size: .9rem;
    }
    
    &:hover { 
      background-color: $mainColor;
      color: white;
      border-color: $mainColor;
      letter-spacing: 2px;
      box-shadow: 0 0 15px -2px rgba(#000, .3); 
    }
  }
  &--centered-button {
    text-align: center;
  }
}