.button {
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
  background-color: transparent;
  color: white;
  padding: 1em 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
  
  &::after {
    content: '';
    @mixin xy-centered;
    z-index: -1;
    width: 200%;
    height: 100%;
    background-color: $mainGreen;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0 100%);
    transition: left 200ms;
  }
  &:hover {
    color: $mainGreen;

    &::after {
      left: 200%;
    }
  }

  &--centered {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
