.button {
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-top: 1em;
  color: white;
  padding: 1em 2em;
  font-size: .8rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 7px -1px rgba(0,0,0,.1);
  background-color: $mainColor;
  transition: all 200ms;

  @mixin atLarge {
    font-size: .9rem;
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: $mainColor;
    transition: all 200ms;
  }
  &:hover {
    transform: translate(-50%,-2px);
    &::after {
      transform: scale(1.2, 1.5);
      opacity: 0;
    }
  }
  &:focus {
    transform: translate(-50%, -1px);
  }

  &--centered {
    left: 50%;
    transform: translateX(-50%);
  }
  &--white-on-hover {
    &:hover {
      color: white;
    }
  }
}
