.content-wrapper {
  position: relative;
  left: 0;
  height: 100vh;
  transition: left 400ms;

  @mixin atLarge {
    width: 150vw;
  }

  &__hero {
    @mixin atLarge {
      position: fixed;
    }
  }

  &__main-content {
    position: relative;

    @mixin atLarge {
      margin-left: 100vw;
      width: 50vw;
    }
  }
}
