.content-wrapper {
/*   left: -50vw !important; */
  @mixin atLarge {
    width: 150vw;
  }
  height: 100vh;

  &__fixed-position {
    @mixin atLarge {
      position: fixed;
    }
  }

  &__main-content {
    overflow: hidden;
    @mixin atLarge {
      margin-left: 100vw;
      width: calc(50vw - 17px);
    }
  }
}