.content-wrapper {
  @mixin atLarge {
    width: 150vw;
  }

  height: 100vh;

  &__hero {
    @mixin atLarge {
      position: fixed;
    }
  }

  &__main-content {
    @mixin atLarge {
      margin-left: 100vw;
      width: 50vw;
    }
  }
}
