.flipping-card {
  position: relative;
  perspective: 1500px;
  backface-visibility: hidden;
  width: 110px;
  height: 110px;

  &__face {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: transform 320ms;
    box-shadow: 0 0 5px rgba(#000, 0.4);
  }

  &__front {
    &--color-1 {
      background-color: $accent-1;
    }

    &--color-2 {
      background-color: $accent-2;
    }

    &--color-3 {
      background-color: $accent-3;
    }

    &--color-5 {
      background-color: $accent-5;
    }
  }

  &__back {
    position: absolute;
    top: 0;
    transform: rotateY(-180deg);
    user-select: none;

    &--gradient-1 {
      background-image: $gradient-1;
    }

    &--gradient-2 {
      background-image: $gradient-2;
    }

    &--gradient-3 {
      background-image: $gradient-3;
    }

    &--gradient-5 {
      background-image: $gradient-5;
    }
  }

  &:hover &__front {
    transform: rotateY(180deg);
  }

  &:hover &__back {
    transform: rotateY(0);
  }
}

.test {
  border: 1px solid red;
}
