.headline {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: $mainBlack;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2.5em;

  @mixin at-large {
    font-size: 2rem;
    margin-bottom: 1.7em;
  }

  &::before {
    @mixin xy-centered;

    content: attr(data-bg-text);
    font-weight: 800;
    white-space: nowrap;
    text-align: center;
    color: rgba($mainBlack, 0.07);
    font-size: 3.2rem;

    @mixin at-large {
      font-size: 5rem;
    }
  }
}
