.icon {
  font-size: 1.5rem;
  text-shadow: -3px 3px 3px rgba(#000, 0.2);

  &--huge {
    font-size: 2.5rem;
  }

  &--mr {
    margin-right: 1rem;
  }

  &--haverable:hover {
    color: #999999;
  }
}
