.loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
  transition: transform 500ms ease;

  &--is-hidden {
    transform: translateY(-100%);
  }
  &__content {
    @mixin xy-centered;
    width: 60vw;

    @mixin atLarge {
      width: 50vw;
    }
  }
  &__text {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.7rem;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 1.5em;
    text-align: center;
    transition: all 700ms ease;

    @mixin atLarge {
      font-size: 0.9rem;
    }
  }
  &__text--is-animated {
    transform: translateY(-100%);
    opacity: 0;
  }
  &__progress-bar {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background-color: rgb(134, 134, 134);
    transition: width 500ms;
  }
}
