.paragraph {
  text-align: justify;
  text-align-last: center;
  font-size: .8rem;
  font-weight: 300;

  @mixin atLarge {
    font-size: .9rem;
  }
  
  &--last-align-left {
    text-align-last: left;
  }
  &--margin-b-tiny {
    margin-bottom: .3em;
  }
  &--margin-b {
    margin-bottom: 2.5em;
  }
  &--white {
    color: white;
  }  
  &--centered {
    text-align: center;
  }
  &--align-left {
    text-align: left;
  }
  &--small {
    font-size: 1.2rem;
  }
  &--uppercase {
    text-transform: uppercase;
  }
  &--italic {
    font-style: italic;
  }
  &--blue {
    color: $mainColor;
  }
  &--thin {
    font-weight: 100;
  }
  &--text-shadow {
    text-shadow: 2px 1px 3px rgba(0,0,0,.1) ;
  }
}