.progress-bar {

  &:not(:last-child) {
    margin-bottom: 1em;
  }
  &__bar {
    width: 100%;
    height: 5px;
    background-color: rgb(235, 235, 235);
    position: relative;
    border-radius: 8px;
    overflow-x: hidden;

    &::after {
      content: '';
      position: relative;
      left: -100%;
      display: block;
      height: 100%;
      background-color: $mainColor;
      border-radius: inherit;
    }
    &--80::after {
      width: 80%;
    }
    &--90::after {
      width: 90%;
    }
    &--75::after {
      width: 75%;
    }
    &--98::after {
      width: 98%;
    }
    &--90::after {
      width: 90%;
    }
  }
  &__details {
    margin-bottom: .1em;
  }
  &__title {
    text-transform: uppercase;
    color: $mainBlack;
    font-size: .9rem;
    @mixin atLarge {
      font-size: 1.2rem;      
    }
  }
  &__percentage {
    font-weight: 800;
    color: $mainBlack;
    font-size: .8rem;
    @mixin atLarge {
      font-size: 1rem;      
    }
  }
  &:last-child {
    &::after {
      content: '⬤ ⬤ ⬤';
      color: $mainColor;
      display: inline-block;
      font-size: .4rem;
      margin-top: 2.6em;
    }
  }
}