.quote {
  position: relative;
  height: 140px;
  color: white;

  @mixin at-large {
    height: 160px;
  }

  &::before {
    @mixin overlay;
  }

  &__wrapper {
    @mixin xy-centered;
    width: 100%;
    font-size: 0.82rem;
    padding: 0 2rem;

    @mixin at-large {
      padding: 0 2rem;
      font-size: 1rem;
    }
  }

  &__text {
    font-weight: 400;
    margin-bottom: 0.35em;
    quotes: '“' '”';
    text-align: justify;
    text-align-last: center;

    @mixin at-large {
      text-align: center;
    }

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  &__originator {
    quotes: '― ' ' ―';
    text-transform: lowercase;
    text-align: center;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
