.quote {
  position: relative;
  height: 140px;
  color: white;

  @mixin at-large {
    height: 160px;
  }

  &::before {
    @mixin overlay;
  }

  &__wrapper {
    @mixin xy-centered;
    width: 100%;
    text-align: center;
    padding: 0 2em;
    font-size: 0.82rem;

    @mixin at-large {
      font-size: 1rem;
    }
  }

  &__text {
    font-weight: 400;
    margin-bottom: 0.35em;
    quotes: '“' '”';

    &:first-letter {
      text-transform: uppercase;
    }

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  &__originator {
    quotes: '― ' ' ―';
    text-transform: lowercase;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
