.service {
  &__row {
    margin-bottom: 1em;
  }

  &__item {
    box-shadow: 0 0 4px 2px rgba(#000, 0.1);
    padding: 1em;
    background: $gradient-5;
    flex-basis: 300px;

    &:not(:last-child) {
      margin-right: 1em;
    }
  }
}
