.skill {
  &__title {
    text-transform: uppercase;
    color: $mainBlack;
    font-size: 0.9rem;
    margin-bottom: 0.1em;

    @mixin atLarge {
      font-size: 1.2rem;
    }
  }

  &__percentage {
    font-weight: 800;
    color: $mainBlack;
    font-size: 0.8rem;

    @mixin atLarge {
      font-size: 1rem;
    }
  }

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &:last-child {
    &::after {
      content: '● ● ●';
      color: $mainColor;
      display: inline-block;
      font-size: 0.3rem;
      margin-top: 1.2em;

      @mixin atMedium {
        font-size: 0.5rem;
      }
    }
  }

  &__percentage-bar-container {
    width: 100%;
    height: 5px;
    background-color: rgb(235, 235, 235);
    position: relative;
    border-radius: 8px;
    overflow-x: hidden;
  }

  &__percentage-bar {
    height: 100%;
    background-color: $mainColor;
    border-radius: inherit;
  }
}
