.wrapper {
  padding: 2.5rem 12px;

  &--no-b-padding {
    padding-bottom: 0 !important;
  }

  @mixin at-medium {
    padding-left: 0;
    padding-right: 0;
    width: 90%;
    margin: auto;
  }

  @mixin at-large {
    padding: 3.5rem 12px;
  }
}
