.xy-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--full-width {
    width: 100%;
    padding: 0 8px;
  }
  &--to-top-until-large {
    top: 47%;
    @mixin atLarge {
      top: 50%;
    }
  }
}