.fade-in-on-waypoint {
  position: relative;
  top: 10px;
  opacity: 0;

  @mixin at-large {
    top: 15px;
  }

  &--animated {
    animation: fade-in 500ms forwards;
  }
}

@keyframes fade-in {
  to {
    top: 0;
    opacity: 1;
  }
}
